---
apiVersion: v1
kind: PersistentVolume
metadata:
  name: plex
  labels:
    type: plex
spec:
  capacity:
    storage: 250Gi
  accessModes:
    - ReadWriteMany
  iscsi:
     targetPortal: 10.0.0.11:3260
     iqn: iqn.2000-01.com.synology:crypteia.default-target.9ae28f60be2
     lun: 1
     fsType: 'ext4'
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: plex
spec:
  accessModes:
    - ReadWriteMany
  resources:
    requests:
      storage: 250Gi
  selector:
    matchLabels:
      type: plex
  storageClassName: ""
  volumeName: plex
---
apiVersion: v1
kind: PersistentVolume
metadata:
  name: plex-dev-config
  labels:
    type: plex-dev-config
spec:
  capacity:
    storage: 100Gi
  accessModes:
    - ReadWriteMany
  iscsi:
     targetPortal: 10.0.0.11:3260
     iqn: iqn.2000-01.com.synology:crypteia.default-target.9ae28f60be2
     lun: 2
     fsType: 'ext4'
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: plex-dev-config
spec:
  accessModes:
    - ReadWriteMany
  resources:
    requests:
      storage: 100Gi
  selector:
    matchLabels:
      type: plex-dev-config
  storageClassName: ""
  volumeName: plex-dev-config
---
apiVersion: v1
kind: PersistentVolume
metadata:
  name: tautulli
  labels:
    type: tautulli
spec:
  capacity:
    storage: 10Gi
  accessModes:
    - ReadWriteMany
  iscsi:
     targetPortal: 10.0.0.11:3260
     iqn: iqn.2000-01.com.synology:crypteia.tautulli
     lun: 1
     fsType: 'ext4'
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: tautulli
spec:
  accessModes:
    - ReadWriteMany
  resources:
    requests:
      storage: 10Gi
  selector:
    matchLabels:
      type: tautulli
  storageClassName: ""
  volumeName: tautulli
---