---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/helm.toolkit.fluxcd.io/helmrelease_v2beta2.json
apiVersion: helm.toolkit.fluxcd.io/v2beta2
kind: HelmRelease
metadata:
  name: plex
spec:
  interval: 30m
  chart:
    spec:
      chart: app-template
      version: 2.4.0
      sourceRef:
        kind: HelmRepository
        name: bjw-s
        namespace: flux-system
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  uninstall:
    keepHistory: false
  values:
    controllers:
      main:
        annotations:
          reloader.stakater.com/auto: "true"
        containers:
          main:
            image:
              repository: ghcr.io/onedr0p/plex
              tag: rolling
            env:
              TZ: America/Denver
            probes:
              liveness: &probes
                enabled: true
                custom: true
                spec:
                  httpGet:
                    path: /identity
                    port: 32400
                  initialDelaySeconds: 0
                  periodSeconds: 10
                  timeoutSeconds: 1
                  failureThreshold: 3
              readiness: *probes
              startup:
                enabled: false
#            securityContext:
#              allowPrivilegeEscalation: false
#              readOnlyRootFilesystem: true
#              capabilities: { drop: ["ALL"] }
            resources:
              requests:
                gpu.intel.com/i915: 1
                cpu: 200m
                memory: 2Gi
              limits:
                gpu.intel.com/i915: 1
                memory: 12Gi
        pod:
          affinity:
           nodeAffinity:
             preferredDuringSchedulingIgnoredDuringExecution:
             - weight: 1
               preference:
                 matchExpressions:
                 - key: plex
                   operator: In
                   values:
                   - "true"
          nodeSelector:
            intel.feature.node.kubernetes.io/gpu: "true"
          securityContext:
#            runAsUser: 1027
#            runAsGroup: 1027
#            runAsNonRoot: true
#            fsGroup: 1027
#            fsGroupChangePolicy: OnRootMismatch
            supplementalGroups: [44, 105, 65536]
    service:
      main:
        type: LoadBalancer
        annotations:
          io.cilium/lb-ipam-ips: 10.0.1.200
        ports:
          http:
            port: 32400
    persistence:
      config:
        enabled: true
        existingClaim: plex
      tmp:
        type: emptyDir
      transcode:
        type: emptyDir
      tv:
        enabled: true
        mountPath: /tv
        existingClaim: media-tv
      movies:
        enabled: true
        mountPath: /movies
        existingClaim: media-movies